/* =============================================================================
 * HTML5 Boilerplate CSS: h5bp.com/css
 * ==========================================================================

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
  display: block

audio, canvas, video
  display: inline-block
  *display: inline
  *zoom: 1

audio:not([controls]), [hidden]
  display: none

html
  font-size: 100%
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  font-family: sans-serif
  color: #222

button, input, select, textarea
  font-family: sans-serif
  color: #222

body
  margin: 0
  font-size: 1em
  line-height: 1.4

\::-moz-selection, ::selection
  background: #1c669a
  color: #fff
  text-shadow: none

a
  color: #00e
  &:visited
    color: #551a8b
  &:hover
    color: #06e
  &:focus
    outline: thin dotted
  &:hover, &:active
    outline: 0

abbr[title]
  border-bottom: 1px dotted

b, strong
  font-weight: bold

blockquote
  margin: 1em 40px

dfn
  font-style: italic

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

ins
  background: #ff9
  color: #000
  text-decoration: none

mark
  background: #ff0
  color: #000
  font-style: italic
  font-weight: bold

pre, code, kbd, samp
  font-family: monospace, serif
  _font-family: 'courier new', monospace
  font-size: 1em

pre
  white-space: pre
  white-space: pre-wrap
  word-wrap: break-word

q
  quotes: none
  &:before, &:after
    content: ""
    content: none

small
  font-size: 85%

sub
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline
  top: -0.5em

sub
  bottom: -0.25em

ul, ol
  margin: 1em 0
  padding: 0 0 0 40px

dd
  margin: 0 0 0 40px

nav
  ul, ol
    list-style: none
    list-style-image: none
    margin: 0
    padding: 0

img
  border: 0
  -ms-interpolation-mode: bicubic
  vertical-align: middle

svg:not(:root)
  overflow: hidden

figure, form
  margin: 0

fieldset
  border: 0
  margin: 0
  padding: 0

label
  cursor: pointer

legend
  border: 0
  *margin-left: -7px
  padding: 0
  white-space: normal

button, input, select, textarea
  font-size: 100%
  margin: 0
  vertical-align: baseline
  *vertical-align: middle

button, input
  line-height: normal

button
  cursor: pointer
  -webkit-appearance: button
  *overflow: visible

input
  &[type="button"], &[type="reset"], &[type="submit"]
    cursor: pointer
    -webkit-appearance: button
    *overflow: visible

button[disabled]
  cursor: default

input
  &[disabled]
    cursor: default
  &[type="checkbox"], &[type="radio"]
    box-sizing: border-box
    padding: 0
    *width: 13px
    *height: 13px
  &[type="search"]
    -webkit-appearance: textfield
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box
    box-sizing: content-box
    &::-webkit-search-decoration, &::-webkit-search-cancel-button
      -webkit-appearance: none

button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0

textarea
  overflow: auto
  vertical-align: top
  resize: vertical

input:valid, textarea:valid

input:invalid, textarea:invalid
  background-color: #f0dddd

table
  border-collapse: collapse
  border-spacing: 0

td
  vertical-align: top

.chromeframe
  margin: 0.2em 0
  background: #ccc
  color: black
  padding: 0.2em 0

/* ===== Primary Styles ========================================================
 * Author:
 * ==========================================================================

/* =============================================================================
 * Media Queries
 * ==========================================================================

@media only screen and (min-width: 35em)
  /* Style adjustments for viewports that meet the condition

/* =============================================================================
 * Non-Semantic Helper Classes
 * ==========================================================================

.ir
  display: block
  border: 0
  text-indent: -999em
  overflow: hidden
  background-color: transparent
  background-repeat: no-repeat
  text-align: left
  direction: ltr
  *line-height: 0
  br
    display: none

.hidden
  display: none !important
  visibility: hidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  &.focusable
    &:active, &:focus
      clip: auto
      height: auto
      margin: 0
      overflow: visible
      position: static
      width: auto

.invisible
  visibility: hidden

.clearfix
  &:before
    content: ""
    display: table
  &:after
    content: ""
    display: table
    clear: both
  *zoom: 1

/* =============================================================================
 * Print Styles
 * ==========================================================================

@media print
  *
    background: transparent !important
    color: black !important
    box-shadow: none !important
    text-shadow: none !important
    filter: none !important
    -ms-filter: none !important
  /* Black prints faster: h5bp.com/s
  a
    text-decoration: underline
    &:visited
      text-decoration: underline
    &[href]:after
      content: " (" attr(href) ")"
  abbr[title]:after
    content: " (" attr(title) ")"
  .ir a:after
    content: ""
  a
    &[href^="javascript:"]:after, &[href^="#"]:after
      content: ""
  /* Don't show links for images, or javascript/internal links
  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid
  thead
    display: table-header-group
  /* h5bp.com/t
  tr
    page-break-inside: avoid
  img
    page-break-inside: avoid
    max-width: 100% !important
  @page
    margin: 0.5cm

  p, h2, h3
    orphans: 3
    widows: 3
  h2, h3
    page-break-after: avoid
