/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/css3
@import reset.sass
@import url(http://fonts.googleapis.com/css?family=Muli:300,400)

$green       : #547913
$green_dark  : #3c560a
$blue        : #2f546e
$blue_dark   : #1b384b
$blue_darker : #062532
$blue_fade   : #516a7c
$brown       : #4e4b44
$cream       : #f2f2f0
$shadow      : #c6c5c2
$red         : #a01e1e
$dark_red    : #741617

$text_body     : #3c3a34
$text_blue     : #365c77
$text_green    : #537a00
$heading_brown : #807d74
$heading_blue  : #2d546f

$stack_body : "Myriad Pro", Arial, sans-serif
$stack_head : "Muli", sans-serif

@mixin clearfix
  &:before
    content: ""
    display: table
  &:after
    content: ""
    display: table
    clear: both
  *zoom: 1

@mixin grayscale
  :filter url('filters.svg#grayscale')
  :filter gray
  -webkit-filter: grayscale(1)

@mixin grayscale_off
  :filter none
  -webkit-filter: grayscale(0)

@mixin button($button_color, $button_alt_color, $border_size)
  :position relative
  :display inline-block
  :width auto
  :height $border_size
  :padding 0 $border_size/2
  :background $button_color 
  :border-right $border_size solid $button_alt_color
  :font-family $stack_head
  :color #fff
  :line-height $border_size
  :text-decoration none
  +box-shadow(2px 2px 3px #c6c5c2)
  &:hover
    :background $button_alt_color
    :color #fff
  &.green
    :background-color $green
    :border-color $green_dark
    &:hover
      :background-color $green_dark
  &.red
    :background-color $red
    :border-color $dark_red
    &:hover
      :background-color $dark_red
  span
    :position absolute
    :display block
    :top 0px
    :right -$border_size
    :width $border_size
    :height $border_size
    :background transparent url('../images/button_arrow.png') center center no-repeat
    
body
  :min-width 1180px
  :background #fff url('../images/footer_bg.jpg') 0 0 repeat
  :font 18px $stack_body
  :color $text_body

.body_wrap
  :background transparent url('../images/body_bg.jpg') 0 0 repeat

.upper_wrap
  :background transparent url('../images/body_tiles.jpg') center top no-repeat
  :border-bottom 1px solid #e7e8e4

h1,h2,h3,h4,h5,h6,
.button
  :font-family $stack_head
  :font-weight 400

header
  :z-index 100
  :background transparent url('../images/header_banner.png') center bottom no-repeat
  .wrap
    :position relative
    :width 960px
    :height 130px
    :margin 0 auto
    :background transparent url('../images/header_nav_gradient.jpg') 270px 15px no-repeat
  h1
    :margin 0
    a
      :position absolute
      :display block
      :top 25px
      :left -96px
      :width 365px
      :height 95px
      :background url('../images/header_logo_2.gif') 0 0 no-repeat
      :text-indent -9000px
  .donate
    :border 0
    +button($green, $green_dark, 40px)
    :position absolute
    :top 15px
    :right 20px
    +box-shadow(none)
  .search
    :position absolute
    :top 72px
    :right -67px
    :display block
    :width 58px
    :height 41px
    :background transparent url('../images/header_search_tab.png') center top no-repeat
    :text-indent -9000px
    &:hover
      :background-position center bottom
  .triangle
    :position absolute
    :display block
    :bottom -10px
    :right -10px
    :width 10px
    :height 10px
    :background transparent url('../images/header_triangle.png') 0 0 no-repeat

#block-system-main-menu
  :z-index 500
  :position absolute
  :top 62px
  :right 0
  .menu 
    :list-style none
    li
      :position relative
      :float left
      &.first.leaf
        :display none // hide Home link
      a
        :float left
        :display block
        :padding 0 30px 30px
        :font 17px $stack_head
        :color #eee
        :text-decoration none
        +text-shadow(1px 1px #042b46)
        &:visited
          :color #eee
        &:hover
          :color #fff
          +text-shadow(1px 1px darken(#042b46,10%))
      &:last-child a
        :padding-right 20px
      .menu
        :display none
        li
          :float none
          &.first.leaf
            :display block // unhide first item
        a
          :float none
          :padding 10px 20px
          :background $blue_darker
          :border-bottom 1px dotted $blue_dark
          :font-size 15px
          &:hover
            :background lighten($blue_darker, 2%)
      &:hover .menu
        :position absolute
        :top 32px
        :left 10px
        :display block
        :width 200px
        :padding 0
        +box-shadow(2px 2px 5px lighten(#21201c, 10%))

#heading
  :position relative
  :width 910px
  :overflow hidden
  :min-height 60px
  :margin 0 auto 10px
  :padding 30px 25px
  :background $brown
  :border-bottom 1px solid #fff
  h2
    :display inline-block
    :z-index 10
    :width 550px
    :margin 9px 0 0
    :font 36px $stack_head
    :color #fff
    +text-shadow(1px 1px #312d24)
  p
    :margin-top 10px
    :font 400 18px $stack_body
    :color #cac7c0
    +text-shadow(1px 1px #312d24)
  .kids
    :position absolute
    :bottom 0
    :right 0
    :width 400px
    :height 200px
    :background transparent url() right bottom no-repeat
    @for $i from 1 through 6
      &.kids-#{$i}
        :background-image url('../images/heading_kids_#{$i}.jpg')
  .shadow
    :position absolute
    :top 0
    :left 0
    :width 960px
    :height 100px
    :background transparent url('../images/heading_bg_gradient2.png') center top repeat-x
  .tabs
    :position absolute
    :bottom 0
    :left 25px
    :margin 0
    :padding 0
    :list-style none
    +clearfix
    li
      :float left
      :margin 0 10px 0 0
      a
        :float left
        :display block
        :height 24px
        :padding 0 8px
        :background darken($text_body, 10%)
        :font 14px/24px $stack_body
        :color #fff
        :text-decoration none

#main
  :width 960px
  :margin 0 auto
  :padding 0 0 30px

#content
  :float left
  :width 650px
  :margin 0 0 30px
  .region-content
    :margin-top 20px
  a
    :color $text_blue
    :text-decoration underline
    &:hover
      :color $blue_dark
  h2,h3,h4,h5,h6
    :color $text_blue
    :text-transform uppercase
    a
      :text-decoration none
    & p
      :margin-top 0
  h2 a span
    :font-size 65%
    :color $brown
  p
    :margin-top 0
    :line-height 30px
    &:first-child
      :font-size 24px
  ul, ol
    li
      :margin 0 0 2px
      :line-height 30px
  table
    :width 650px
    :margin 0 0 20px 0
    :background transparent url('../images/sidebar_block_bg_dark.png') 0 0 repeat
    :border-collapse separate
    +box-shadow(2px 2px 2px #c6c5c2)
    :font 15px/20px $stack_body
    &.views-view-grid
      :background none
      :border-collapse collapse
      +box-shadow(none)
      td,th
        :border 0
    td,th
      :padding 10px 15px
    td
      :border-top 1px solid #eaebe7 !important
      :border-bottom 1px solid #f6f6f4
      :text-decoration none
      +text-shadow(1px 1px #fff)
    th
      :border 0
    &.no-border
      :border 0
      td
        :border 0
    &.no-background
      :background none
    &.no-style
      :background none
      :border 0
      +box-shadow(none)
      td
        :border 0
    p:first-child
      :font-size 18px 
  blockquote
    :position relative
    :margin-right 0
    :margin-left 0
    :padding 20px
    :background $cream
    +box-shadow(2px 2px 2px $shadow)
    :font italic 20px/30px $stack_body
    :color $text_blue
    +text-shadow(1px 1px #fff)
    p
      :margin 0
      :line-height 34px
    .bg
      :position absolute
      :top 20px
      :left -36px
      :display block
      :width 72px
      :height 72px
      :background transparent url() 0 0 no-repeat
    &.trophy
      :padding-left 50px
      .bg
        :background-image url('../images/content_blockquote_trophy.png')
  img
    :border-bottom 1px solid #fff
    &.float-left
      :float left
      :margin 0 20px 10px 0
      :border 0
    &.float-right
      :float right
      :margin 0 0 10px 20px
      :border 0
  .submitted
    :display none
  .button
    :font-size 14px
    +button($blue, $blue_dark, 30px)
  .field-name-field-image,
  .views-field-field-image
    :margin-bottom 20px
  .view-news, .view-taxonomy-term
    .views-row
      :z-index 0
      :position relative
      :margin 0 
      +clearfix
      .thumbnail
        :float left
        :width 240px
        :margin 25px 0
      .created
        :margin-top -15px
        :font 16px $stack_body
        :color $brown
      .story_content
        :float left
        :width 410px
      &:last-child .divider
        :display none
  .small_print
    p
      :font italic 13px/18px $stack_body
      &:first-child
        :font-size 13px
  .divider
    :display block
    :width 650px
    :height 274px
    :margin -110px 0 -110px
    :background transparent url('../images/content_divider.jpg') 0 0 no-repeat
    &:last-child
      :display none
  .views-field-edit-node a
    :display block
    :margin 10px 0
    :font-size 14px
    +button(#333, #111, 25px)
  .node-page .field-name-body div div > :first-child
    :margin-top 0

  .messages
    :margin-top 20px
    :padding 20px
    :color #fff
    :white-space break-word
    a
      :color #fff
    &.status
      :background $green
      +text-shadow(1px 1px $green_dark)
    &.error
      :background #cc3300
      +text-shadow(1px 1px darken(#cc3300, 15%))
    ul
      :margin 0
  // .messages

  /* Page specific stylings */
  .paypal_form
    label
      :display block
      :font-weight bold
  .date-display-single
    :display block
    :margin 0 0 20px
    :font-size 24px
    :color $blue
  #node-5
    form,
    .donate_recurring
      :float left
      :margin-bottom 20px
    .donate_recurring
      :margin 20px 0 0 10px
    h3
      :clear both
  .node-gallery
    .field-name-field-gallery-images
      :background #000
      .field-item
        :float left
        :width 210px
        :margin 0 10px 10px 0
        &.end
          :margin-right 0

  .node-people
    +clearfix
    p:first-child
      :font-size 18px 
    .people_details
      :float left
      :width 180px
      :margin 0 20px 20px 0
      :font-size 15px
      div
        :margin-bottom 5px
      .photo
        :margin-bottom 10px
    .people_body
      :float right
      :width 450px
    .role
      :font-weight bold
    
  /* Code is mostly duplicate, consolidate to mixin */
  .contribution_levels
    :float right
    :width 220px
    :margin 0 0 0 20px
    :background transparent url('../images/sidebar_block_bg_dark.png') 0 0 repeat
    +box-shadow(2px 2px 2px #c6c5c2)
    h4
      :display block
      :margin 0
      :padding 12px 18px
      :background transparent url('../images/sidebar_block_bg_light.png') 0 0 repeat
      :font-size 20px
      :color $text_body
      :text-transform none
    ul
      :margin 0
      :padding 0
      :list-style none
      li
        :margin 0
        :padding 10px 18px
        :border-top 1px solid #eaebe7
        :border-bottom 1px solid #f6f6f4
        :font 17px $stack_body
        :color $blue_fade
        :text-decoration none
        +text-shadow(1px 1px #fff)
  // .contribution_levels

  .donors
    :margin 20px 0
    .wrap
      :margin 0 0 40px
      +clearfix
    .photo
      :float left
      :width 250px
    .text
      :float left
      :width 400px
    h3
      :display inline-block
      :margin 0
      :padding 10px 20px
      :background #fff
      span
        :font 14px $stack_body
        :color $heading_blue
    .quote
      :padding 20px
      //:background $cream
      +box-shadow(2px 2px 2px $shadow)
      :font italic 22px/30px $stack_body
      :color $text_blue
      +text-shadow(1px 1px #fff)
    .button
      +box-shadow(none)

#node-56
  h3
    :clear both
  .col
    :float left
    :width 280px
    :margin 0 0 30px
  // .donors

#content
  .board-directors
    table
      :margin-top 20px
    tbody
      :border 0
    td
      :width 180px
      :text-align center
      :padding 0 55px 20px 0
      &.col-last
        :padding-right 0
    h4
      :margin 15px 0 0
      :font-size 15px
    h5
      :margin 8px 0
      :font bold 16px/16px $stack_body
      :color $text_body
      :text-transform none
    p
      :margin 8px 0 
      :font-size 16px
      :line-height 16px
    img
      :border 0
      +box-shadow(2px 2px 5px #c6c5c2)
  // .board-directors

  #webform-client-form-16 /* Contact page */
    .webform-component-textfield input,
    textarea
      :width 650px

  /* end Page specific stylings */

  .block
    :margin 20px 0 20px 20px
    &.block-system
      :margin 0

  #comments
    h2
      :font-size 18px
    .filter-wrapper
      :display none

  #search-form
    :margin 20px 0
    .form-item-keys
      label
        :display none
    .search-advanced
      :display none
  .search-results
    :padding 0
    h3
      :font-size 18px
      :margin-bottom 5px 
    .search-snippet-info
      :padding 0
    .search-snippet
      :font-size 18px
    .search-info
      :display none
    .divider
      :display block
      :width 650px
      :height 274px
      :margin -110px 0 -110px
      :background #000 url('../images/content_divider.jpg') 0 0 no-repeat


// #content


#sidebar_first
  :float right
  :width 250px
  :margin 0 0 30px
  .block
    :margin 20px 0 30px
    .content
      +clearfix
    .button
      :font-size 12px
      :text-transform uppercase
      &.green
        +button($green, $green_dark, 27px)
      &.blue
        +button($blue, $blue_dark, 27px)
      &.red
        +button($red, $dark_red, 27px)
    h4
      :margin 0
      :color #635a51
      :text-transform uppercase
    &.box
      +box-shadow(2px 2px 2px #c6c5c2)
      .content
        :background transparent url('../images/sidebar_block_bg_dark.png') 0 0 repeat
        p:first-child
          :margin-top 0
      a
        :color $blue_fade
      h4
        :display inline-block
        :width 214px
        :margin 0
        :padding 12px 18px
        :background transparent url('../images/sidebar_block_bg_light.png') 0 0 repeat
        :font-size 20px
        :color $text_body
        :text-transform none
        a 
          :display block
          :color $text_body
          :text-decoration none
      ul
        :margin 0
        :padding 0
        :list-style none
        a
          :display block
          :padding 10px 18px
          :border-top 1px solid #eaebe7
          :border-bottom 1px solid #f6f6f4
          :font 17px $stack_body
          :color $blue_fade
          :text-decoration none
          +text-shadow(1px 1px #fff)
          &:hover
            :background transparent url('../images/sidebar_block_bg_dark.png') 0 0 repeat
      p
        :padding 12px 18px
        :font 17px/26px $stack_body
        :color $blue_fade
        &:first-child
          :border-top 1px solid #eaebe7
      .view-id-event_details
        .views-field
          :padding 10px 18px
          :border-top 1px solid #eaebe7
          :border-bottom 1px solid #f6f6f4
          :font 17px $stack_body
          :color $blue_fade
          +text-shadow(1px 1px #fff)
          a
            :color $blue_fade
          .button
            :color #fff
            &.green
              +text-shadow(none)
            &.red
              +text-shadow(none)
        .views-label
          :font-size 12px
          :text-transform uppercase

    &.no-box
      h4
        :margin-bottom 10px
      p
        :font 16px/24px $stack_body
        &:first-child
          :margin-top 0
      &:first-child p
        :margin-top 0
    &.contact_info
      :font-size 17px
      .content
        :line-height 22px
      img
        :display block
        :width 250px
        :height 200px
        +box-shadow(1px 1px 5px #c6c5c2)
    &#block-block-2 /* We are FCOE */
      :position relative
      :height 111px
      .seal
        :position absolute
        :top 0
        :left -10px
        :display block
        :width 265px
        :height 111px
        :background #fff url('../images/sidebar_block_seal.jpg') 0 0 no-repeat
        :text-indent -9000px

footer
  :background #fff url('../images/footer_bg.jpg') 0 0 repeat
  .wrap
    :position relative
    :width 960px
    :margin 0 auto
    :padding 80px 0
    :background transparent url('../images/footer_tiles.jpg') center top no-repeat
  .parent_logo
    :position absolute
    :top 80px
    :left 10px
    :display block
    :width 101px
    :height 99px
    :background transparent url('../images/footer_logo_fcoe_2.png') 0 0 no-repeat
    :text-indent -9000px

#nav_footer
  :width 960px
  :padding 0 0 0 160px
  a
    :font bold 14px/24px $stack_body
    :color #7d7d7d
    :text-decoration none
    :text-transform uppercase
    +text-shadow(1px 1px #fff)
    &:hover
      :color darken(#7d7d7d, 10%)
  ul
    :float left
    :width 200px
    :margin 0
    :padding 0
    :list-style none
    &.first 
      :width 150px
      li:last-child a
        :color $text_green
        &:hover
          :color darken($text_green, 5%)
    &.secondary 
      ul a
        :font-weight normal

#copyright
  :margin 40px 10px 20px
  :padding 5px 0
  :border-top 1px dotted #ddd
  :font-size 14px
  :color #9d9d9d

// Homepage styling
.front
  #main
    :width 100%
    :margin 0 auto
    :padding 0
  #heading
    :width 960px
    :height 400px
    :padding 0
  #intro
    :z-index 0
    :position relative
    :width 960px
    :margin 0 auto
    :padding-bottom 20px
    h2
      :padding-bottom 0
      :font 300 63px/50px $stack_head
      :color $brown
      +text-shadow(1px 1px #fff)
    p
      :width 630px
      :font 20px/34px $stack_body
      :color #7d7366
      +text-shadow(1px 1px #fff)
    .kids
      :z-index -1 
      :position absolute
      :bottom 0
      :right -150px
      :width 650px
      :height 309px
      :background transparent url('../images/front_intro_kids2.jpg') 0 0 no-repeat
  .content_wrap
    :width 100%
    :background #000 url('../images/footer_bg.jpg') 0 0 repeat
    :border-top 1px solid #e7e8e4
  #content 
    :float none
    :position relative
    :width 960px
    :margin 0 auto
    :padding-top 40px
    .tiles
      :position absolute
      :top 0
      :right -50px
      :width 452px
      :height 71px
      :background transparent url('../images/front_content_tiles_bg.jpg') 0 0 no-repeat
    .view-news .views-row
      :margin-bottom 0px
      img
        +grayscale
        &:hover
          +grayscale_off
      .story_content
        :width 720px
        :margin 0 0 25px

  .divider
    :width 100%
    :height 493px
    :margin -215px 0
    :background transparent url('../images/front_news_divider.jpg') 0 0 repeat-x
    &.second
      :background-image url('../images/front_onecard_divider.png')

  .onecard
    :margin-bottom 10px
    +clearfix
    .wrap
      :position relative
      :width 960px
      :margin 0 auto
    h3
      :margin 5px 0 0
      :font-size 24px
    .card
      :float left
      :width 216px
      :height 144px
      :background transparent url('../images/OneCard_GiftCard.png') 0 0 no-repeat
    .content
      :float left
      :margin-left 30px
    .button
      :font-size 16px
      +button($green, $green_dark, 35px)

  .we_are_fcoe
    :min-height 200px
    h3
      :margin-bottom 0
      :font-size 30px
      :text-transform uppercase
    p
      :margin 25px 0
      :font 18px/30px $stack_body
      :color #645c53
    .button
      :font-size 16px
      +button($blue, $blue_dark, 35px)
      &.green
        :margin-right 10px
    .wrap
      :position relative
      :width 960px
      :margin 0 auto
    .left
      :width 430px
    .seal
      :position absolute
      :top 0
      :right 0
      :display block
      :width 497px
      :height 164px
      :background transparent url('../images/front_fcoe_seal.jpg') 0 0 no-repeat
      :text-indent -9000px

#simplemodal-container
  :background #fff
  +box-shadow(0px 0px 10px #ccc)
  .simplemodal-wrap
  .modal_close
    :position absolute
    :top -20px
    :right 10px
    :display inline
    :width 30px
    :height 30px
    :z-index 3200
    :cursor pointer
    :font bold 12px Arial
    :color #333
    :text-decoration none
    :text-transform uppercase


.new 
  :background $green
  :padding 4px 7px 2px
  :margin-left 7px
  :color #ffffff
  :text-transform uppercase
  :font-size .7em
  
.read-award
  :display none
  :padding 20px
  :height auto !important
