/* line 1, ../sass/custom_editor.sass */
.float-left {
  float: left;
}

/* line 4, ../sass/custom_editor.sass */
.float-right {
  float: right;
}

/* line 7, ../sass/custom_editor.sass */
.float-none {
  float: none;
}

/* line 12, ../sass/custom_editor.sass */
table.no-background {
  background: none;
}
/* line 14, ../sass/custom_editor.sass */
table.no-style {
  background: none;
}
