/* line 1, ../sass/custom_editor_style.sass */
body {
  background-color: white;
}

/* line 3, ../sass/custom_editor_style.sass */
p, li, td {
  font: 15px/18px "Myriad Pro", Arial;
}

/* line 6, ../sass/custom_editor_style.sass */
table {
  width: 100%;
}
