/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 9, ../sass/ie.sass */
.lt-ie9 #content table {
  background-color: #f0f0ee;
}
/* line 11, ../sass/ie.sass */
.lt-ie9 #content .contribution_levels {
  background-color: #f0f0ee;
}
/* line 13, ../sass/ie.sass */
.lt-ie9 #content .contribution_levels h4 {
  background-color: #f2f3f0;
}
/* line 17, ../sass/ie.sass */
.lt-ie9 #sidebar_first .block.box h4 {
  background-color: #f2f3f0;
}
/* line 19, ../sass/ie.sass */
.lt-ie9 #sidebar_first .block.box .content {
  background-color: #f0f0ee;
}
