/* =============================================================================
 * HTML5 Boilerplate CSS: h5bp.com/css
 * ========================================================================== */
/* line 5, ../sass/reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 8, ../sass/reset.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 13, ../sass/reset.sass */
audio:not([controls]), [hidden] {
  display: none;
}

/* line 16, ../sass/reset.sass */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
  color: #222222;
}

/* line 23, ../sass/reset.sass */
button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

/* line 27, ../sass/reset.sass */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 32, ../sass/reset.sass */
::-moz-selection, ::selection {
  background: #1c669a;
  color: white;
  text-shadow: none;
}

/* line 37, ../sass/reset.sass */
a {
  color: #0000ee;
}
/* line 39, ../sass/reset.sass */
a:visited {
  color: #551a8b;
}
/* line 41, ../sass/reset.sass */
a:hover {
  color: #0066ee;
}
/* line 43, ../sass/reset.sass */
a:focus {
  outline: thin dotted;
}
/* line 45, ../sass/reset.sass */
a:hover, a:active {
  outline: 0;
}

/* line 48, ../sass/reset.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 51, ../sass/reset.sass */
b, strong {
  font-weight: bold;
}

/* line 54, ../sass/reset.sass */
blockquote {
  margin: 1em 40px;
}

/* line 57, ../sass/reset.sass */
dfn {
  font-style: italic;
}

/* line 60, ../sass/reset.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 68, ../sass/reset.sass */
ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 73, ../sass/reset.sass */
mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 79, ../sass/reset.sass */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 84, ../sass/reset.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 89, ../sass/reset.sass */
q {
  quotes: none;
}
/* line 91, ../sass/reset.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 95, ../sass/reset.sass */
small {
  font-size: 85%;
}

/* line 98, ../sass/reset.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 104, ../sass/reset.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 111, ../sass/reset.sass */
sub {
  bottom: -0.25em;
}

/* line 114, ../sass/reset.sass */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 118, ../sass/reset.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 122, ../sass/reset.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 128, ../sass/reset.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 133, ../sass/reset.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 136, ../sass/reset.sass */
figure, form {
  margin: 0;
}

/* line 139, ../sass/reset.sass */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 144, ../sass/reset.sass */
label {
  cursor: pointer;
}

/* line 147, ../sass/reset.sass */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 153, ../sass/reset.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 159, ../sass/reset.sass */
button, input {
  line-height: normal;
}

/* line 162, ../sass/reset.sass */
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 168, ../sass/reset.sass */
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 173, ../sass/reset.sass */
button[disabled] {
  cursor: default;
}

/* line 177, ../sass/reset.sass */
input[disabled] {
  cursor: default;
}
/* line 179, ../sass/reset.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
/* line 184, ../sass/reset.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 189, ../sass/reset.sass */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 192, ../sass/reset.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 196, ../sass/reset.sass */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 203, ../sass/reset.sass */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 206, ../sass/reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 210, ../sass/reset.sass */
td {
  vertical-align: top;
}

/* line 213, ../sass/reset.sass */
.chromeframe {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0;
}

/* ===== Primary Styles ========================================================
 * Author:
 * ========================================================================== */
/* =============================================================================
 * Media Queries
 * ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* =============================================================================
 * Non-Semantic Helper Classes
 * ========================================================================== */
/* line 234, ../sass/reset.sass */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
/* line 244, ../sass/reset.sass */
.ir br {
  display: none;
}

/* line 247, ../sass/reset.sass */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 251, ../sass/reset.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 261, ../sass/reset.sass */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 269, ../sass/reset.sass */
.invisible {
  visibility: hidden;
}

/* line 272, ../sass/reset.sass */
.clearfix {
  *zoom: 1;
}
/* line 273, ../sass/reset.sass */
.clearfix:before {
  content: "";
  display: table;
}
/* line 276, ../sass/reset.sass */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* =============================================================================
 * Print Styles
 * ========================================================================== */
@media print {
  /* line 287, ../sass/reset.sass */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 295, ../sass/reset.sass */
  a {
    text-decoration: underline;
  }
  /* line 297, ../sass/reset.sass */
  a:visited {
    text-decoration: underline;
  }
  /* line 299, ../sass/reset.sass */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 301, ../sass/reset.sass */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 303, ../sass/reset.sass */
  .ir a:after {
    content: "";
  }

  /* line 306, ../sass/reset.sass */
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 309, ../sass/reset.sass */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 312, ../sass/reset.sass */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 315, ../sass/reset.sass */
  tr {
    page-break-inside: avoid;
  }

  /* line 317, ../sass/reset.sass */
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 323, ../sass/reset.sass */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 326, ../sass/reset.sass */
  h2, h3 {
    page-break-after: avoid;
  }
}
