@import url(http://fonts.googleapis.com/css?family=Muli:300,400);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* =============================================================================
 * HTML5 Boilerplate CSS: h5bp.com/css
 * ========================================================================== */
/* line 5, ../sass/reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 8, ../sass/reset.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 13, ../sass/reset.sass */
audio:not([controls]), [hidden] {
  display: none;
}

/* line 16, ../sass/reset.sass */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
  color: #222222;
}

/* line 23, ../sass/reset.sass */
button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

/* line 27, ../sass/reset.sass */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 32, ../sass/reset.sass */
::-moz-selection, ::selection {
  background: #1c669a;
  color: white;
  text-shadow: none;
}

/* line 37, ../sass/reset.sass */
a {
  color: #0000ee;
}
/* line 39, ../sass/reset.sass */
a:visited {
  color: #551a8b;
}
/* line 41, ../sass/reset.sass */
a:hover {
  color: #0066ee;
}
/* line 43, ../sass/reset.sass */
a:focus {
  outline: thin dotted;
}
/* line 45, ../sass/reset.sass */
a:hover, a:active {
  outline: 0;
}

/* line 48, ../sass/reset.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 51, ../sass/reset.sass */
b, strong {
  font-weight: bold;
}

/* line 54, ../sass/reset.sass */
blockquote {
  margin: 1em 40px;
}

/* line 57, ../sass/reset.sass */
dfn {
  font-style: italic;
}

/* line 60, ../sass/reset.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 68, ../sass/reset.sass */
ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 73, ../sass/reset.sass */
mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 79, ../sass/reset.sass */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 84, ../sass/reset.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 89, ../sass/reset.sass */
q {
  quotes: none;
}
/* line 91, ../sass/reset.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 95, ../sass/reset.sass */
small {
  font-size: 85%;
}

/* line 98, ../sass/reset.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 104, ../sass/reset.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 111, ../sass/reset.sass */
sub {
  bottom: -0.25em;
}

/* line 114, ../sass/reset.sass */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 118, ../sass/reset.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 122, ../sass/reset.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 128, ../sass/reset.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 133, ../sass/reset.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 136, ../sass/reset.sass */
figure, form {
  margin: 0;
}

/* line 139, ../sass/reset.sass */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 144, ../sass/reset.sass */
label {
  cursor: pointer;
}

/* line 147, ../sass/reset.sass */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 153, ../sass/reset.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 159, ../sass/reset.sass */
button, input {
  line-height: normal;
}

/* line 162, ../sass/reset.sass */
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 168, ../sass/reset.sass */
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 173, ../sass/reset.sass */
button[disabled] {
  cursor: default;
}

/* line 177, ../sass/reset.sass */
input[disabled] {
  cursor: default;
}
/* line 179, ../sass/reset.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
/* line 184, ../sass/reset.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 189, ../sass/reset.sass */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 192, ../sass/reset.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 196, ../sass/reset.sass */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 203, ../sass/reset.sass */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 206, ../sass/reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 210, ../sass/reset.sass */
td {
  vertical-align: top;
}

/* line 213, ../sass/reset.sass */
.chromeframe {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0;
}

/* ===== Primary Styles ========================================================
 * Author:
 * ========================================================================== */
/* =============================================================================
 * Media Queries
 * ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* =============================================================================
 * Non-Semantic Helper Classes
 * ========================================================================== */
/* line 234, ../sass/reset.sass */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
/* line 244, ../sass/reset.sass */
.ir br {
  display: none;
}

/* line 247, ../sass/reset.sass */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 251, ../sass/reset.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 261, ../sass/reset.sass */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 269, ../sass/reset.sass */
.invisible {
  visibility: hidden;
}

/* line 272, ../sass/reset.sass */
.clearfix {
  *zoom: 1;
}
/* line 273, ../sass/reset.sass */
.clearfix:before {
  content: "";
  display: table;
}
/* line 276, ../sass/reset.sass */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* =============================================================================
 * Print Styles
 * ========================================================================== */
@media print {
  /* line 287, ../sass/reset.sass */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 295, ../sass/reset.sass */
  a {
    text-decoration: underline;
  }
  /* line 297, ../sass/reset.sass */
  a:visited {
    text-decoration: underline;
  }
  /* line 299, ../sass/reset.sass */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 301, ../sass/reset.sass */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 303, ../sass/reset.sass */
  .ir a:after {
    content: "";
  }

  /* line 306, ../sass/reset.sass */
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 309, ../sass/reset.sass */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 312, ../sass/reset.sass */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 315, ../sass/reset.sass */
  tr {
    page-break-inside: avoid;
  }

  /* line 317, ../sass/reset.sass */
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 323, ../sass/reset.sass */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 326, ../sass/reset.sass */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 86, ../sass/screen.sass */
body {
  min-width: 1180px;
  background: white url("../images/footer_bg.jpg") 0 0 repeat;
  font: 18px "Myriad Pro", Arial, sans-serif;
  color: #3c3a34;
}

/* line 92, ../sass/screen.sass */
.body_wrap {
  background: transparent url("../images/body_bg.jpg") 0 0 repeat;
}

/* line 95, ../sass/screen.sass */
.upper_wrap {
  background: transparent url("../images/body_tiles.jpg") center top no-repeat;
  border-bottom: 1px solid #e7e8e4;
}

/* line 99, ../sass/screen.sass */
h1, h2, h3, h4, h5, h6,
.button {
  font-family: "Muli", sans-serif;
  font-weight: 400;
}

/* line 104, ../sass/screen.sass */
header {
  z-index: 100;
  background: transparent url("../images/header_banner.png") center bottom no-repeat;
}
/* line 107, ../sass/screen.sass */
header .wrap {
  position: relative;
  width: 960px;
  height: 130px;
  margin: 0 auto;
  background: transparent url("../images/header_nav_gradient.jpg") 270px 15px no-repeat;
}
/* line 113, ../sass/screen.sass */
header h1 {
  margin: 0;
}
/* line 115, ../sass/screen.sass */
header h1 a {
  position: absolute;
  display: block;
  top: 25px;
  left: -96px;
  width: 365px;
  height: 95px;
  background: url("../images/header_logo_2.gif") 0 0 no-repeat;
  text-indent: -9000px;
}
/* line 124, ../sass/screen.sass */
header .donate {
  border: 0;
  position: relative;
  display: inline-block;
  width: auto;
  height: 40px;
  padding: 0 20px;
  background: #547913;
  border-right: 40px solid #3c560a;
  font-family: "Muli", sans-serif;
  color: white;
  line-height: 40px;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 3px #c6c5c2;
  -moz-box-shadow: 2px 2px 3px #c6c5c2;
  box-shadow: 2px 2px 3px #c6c5c2;
  position: absolute;
  top: 15px;
  right: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 64, ../sass/screen.sass */
header .donate:hover {
  background: #3c560a;
  color: white;
}
/* line 67, ../sass/screen.sass */
header .donate.green {
  background-color: #547913;
  border-color: #3c560a;
}
/* line 70, ../sass/screen.sass */
header .donate.green:hover {
  background-color: #3c560a;
}
/* line 72, ../sass/screen.sass */
header .donate.red {
  background-color: #a01e1e;
  border-color: #741617;
}
/* line 75, ../sass/screen.sass */
header .donate.red:hover {
  background-color: #741617;
}
/* line 77, ../sass/screen.sass */
header .donate span {
  position: absolute;
  display: block;
  top: 0px;
  right: -40px;
  width: 40px;
  height: 40px;
  background: transparent url("../images/button_arrow.png") center center no-repeat;
}
/* line 131, ../sass/screen.sass */
header .search {
  position: absolute;
  top: 72px;
  right: -67px;
  display: block;
  width: 58px;
  height: 41px;
  background: transparent url("../images/header_search_tab.png") center top no-repeat;
  text-indent: -9000px;
}
/* line 140, ../sass/screen.sass */
header .search:hover {
  background-position: center bottom;
}
/* line 142, ../sass/screen.sass */
header .triangle {
  position: absolute;
  display: block;
  bottom: -10px;
  right: -10px;
  width: 10px;
  height: 10px;
  background: transparent url("../images/header_triangle.png") 0 0 no-repeat;
}

/* line 151, ../sass/screen.sass */
#block-system-main-menu {
  z-index: 500;
  position: absolute;
  top: 62px;
  right: 0;
}
/* line 156, ../sass/screen.sass */
#block-system-main-menu .menu {
  list-style: none;
}
/* line 158, ../sass/screen.sass */
#block-system-main-menu .menu li {
  position: relative;
  float: left;
}
/* line 161, ../sass/screen.sass */
#block-system-main-menu .menu li.first.leaf {
  display: none;
}
/* line 163, ../sass/screen.sass */
#block-system-main-menu .menu li a {
  float: left;
  display: block;
  padding: 0 30px 30px;
  font: 17px "Muli", sans-serif;
  color: #eeeeee;
  text-decoration: none;
  text-shadow: 1px 1px #042b46;
}
/* line 171, ../sass/screen.sass */
#block-system-main-menu .menu li a:visited {
  color: #eeeeee;
}
/* line 173, ../sass/screen.sass */
#block-system-main-menu .menu li a:hover {
  color: white;
  text-shadow: 1px 1px #010d16;
}
/* line 176, ../sass/screen.sass */
#block-system-main-menu .menu li:last-child a {
  padding-right: 20px;
}
/* line 178, ../sass/screen.sass */
#block-system-main-menu .menu li .menu {
  display: none;
}
/* line 180, ../sass/screen.sass */
#block-system-main-menu .menu li .menu li {
  float: none;
}
/* line 182, ../sass/screen.sass */
#block-system-main-menu .menu li .menu li.first.leaf {
  display: block;
}
/* line 184, ../sass/screen.sass */
#block-system-main-menu .menu li .menu a {
  float: none;
  padding: 10px 20px;
  background: #062532;
  border-bottom: 1px dotted #1b384b;
  font-size: 15px;
}
/* line 190, ../sass/screen.sass */
#block-system-main-menu .menu li .menu a:hover {
  background: #072c3b;
}
/* line 192, ../sass/screen.sass */
#block-system-main-menu .menu li:hover .menu {
  position: absolute;
  top: 32px;
  left: 10px;
  display: block;
  width: 200px;
  padding: 0;
  -webkit-box-shadow: 2px 2px 5px #3d3b33;
  -moz-box-shadow: 2px 2px 5px #3d3b33;
  box-shadow: 2px 2px 5px #3d3b33;
}

/* line 201, ../sass/screen.sass */
#heading {
  position: relative;
  width: 910px;
  overflow: hidden;
  min-height: 60px;
  margin: 0 auto 10px;
  padding: 30px 25px;
  background: #4e4b44;
  border-bottom: 1px solid white;
}
/* line 210, ../sass/screen.sass */
#heading h2 {
  display: inline-block;
  z-index: 10;
  width: 550px;
  margin: 9px 0 0;
  font: 36px "Muli", sans-serif;
  color: white;
  text-shadow: 1px 1px #312d24;
}
/* line 218, ../sass/screen.sass */
#heading p {
  margin-top: 10px;
  font: 400 18px "Myriad Pro", Arial, sans-serif;
  color: #cac7c0;
  text-shadow: 1px 1px #312d24;
}
/* line 223, ../sass/screen.sass */
#heading .kids {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 200px;
  background: transparent url() right bottom no-repeat;
}
/* line 231, ../sass/screen.sass */
#heading .kids.kids-1 {
  background-image: url("../images/heading_kids_1.jpg");
}
/* line 231, ../sass/screen.sass */
#heading .kids.kids-2 {
  background-image: url("../images/heading_kids_2.jpg");
}
/* line 231, ../sass/screen.sass */
#heading .kids.kids-3 {
  background-image: url("../images/heading_kids_3.jpg");
}
/* line 231, ../sass/screen.sass */
#heading .kids.kids-4 {
  background-image: url("../images/heading_kids_4.jpg");
}
/* line 231, ../sass/screen.sass */
#heading .kids.kids-5 {
  background-image: url("../images/heading_kids_5.jpg");
}
/* line 231, ../sass/screen.sass */
#heading .kids.kids-6 {
  background-image: url("../images/heading_kids_6.jpg");
}
/* line 233, ../sass/screen.sass */
#heading .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 960px;
  height: 100px;
  background: transparent url("../images/heading_bg_gradient2.png") center top repeat-x;
}
/* line 240, ../sass/screen.sass */
#heading .tabs {
  position: absolute;
  bottom: 0;
  left: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
  *zoom: 1;
}
/* line 33, ../sass/screen.sass */
#heading .tabs:before {
  content: "";
  display: table;
}
/* line 36, ../sass/screen.sass */
#heading .tabs:after {
  content: "";
  display: table;
  clear: both;
}
/* line 248, ../sass/screen.sass */
#heading .tabs li {
  float: left;
  margin: 0 10px 0 0;
}
/* line 251, ../sass/screen.sass */
#heading .tabs li a {
  float: left;
  display: block;
  height: 24px;
  padding: 0 8px;
  background: #21201c;
  font: 14px/24px "Myriad Pro", Arial, sans-serif;
  color: white;
  text-decoration: none;
}

/* line 261, ../sass/screen.sass */
#main {
  width: 960px;
  margin: 0 auto;
  padding: 0 0 30px;
}

/* line 266, ../sass/screen.sass */
#content {
  float: left;
  width: 650px;
  margin: 0 0 30px;
  /* Page specific stylings */
  /* Code is mostly duplicate, consolidate to mixin */
}
/* line 270, ../sass/screen.sass */
#content .region-content {
  margin-top: 20px;
}
/* line 272, ../sass/screen.sass */
#content a {
  color: #365c77;
  text-decoration: underline;
}
/* line 275, ../sass/screen.sass */
#content a:hover {
  color: #1b384b;
}
/* line 277, ../sass/screen.sass */
#content h2, #content h3, #content h4, #content h5, #content h6 {
  color: #365c77;
  text-transform: uppercase;
}
/* line 280, ../sass/screen.sass */
#content h2 a, #content h3 a, #content h4 a, #content h5 a, #content h6 a {
  text-decoration: none;
}
/* line 282, ../sass/screen.sass */
#content h2 p, #content h3 p, #content h4 p, #content h5 p, #content h6 p {
  margin-top: 0;
}
/* line 284, ../sass/screen.sass */
#content h2 a span {
  font-size: 65%;
  color: #4e4b44;
}
/* line 287, ../sass/screen.sass */
#content p {
  margin-top: 0;
  line-height: 30px;
}
/* line 290, ../sass/screen.sass */
#content p:first-child {
  font-size: 24px;
}
/* line 293, ../sass/screen.sass */
#content ul li, #content ol li {
  margin: 0 0 2px;
  line-height: 30px;
}
/* line 296, ../sass/screen.sass */
#content table {
  width: 650px;
  margin: 0 0 20px 0;
  background: transparent url("../images/sidebar_block_bg_dark.png") 0 0 repeat;
  border-collapse: separate;
  -webkit-box-shadow: 2px 2px 2px #c6c5c2;
  -moz-box-shadow: 2px 2px 2px #c6c5c2;
  box-shadow: 2px 2px 2px #c6c5c2;
  font: 15px/20px "Myriad Pro", Arial, sans-serif;
}
/* line 303, ../sass/screen.sass */
#content table.views-view-grid {
  background: none;
  border-collapse: collapse;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 307, ../sass/screen.sass */
#content table.views-view-grid td, #content table.views-view-grid th {
  border: 0;
}
/* line 309, ../sass/screen.sass */
#content table td, #content table th {
  padding: 10px 15px;
}
/* line 311, ../sass/screen.sass */
#content table td {
  border-top: 1px solid #eaebe7 !important;
  border-bottom: 1px solid #f6f6f4;
  text-decoration: none;
  text-shadow: 1px 1px white;
}
/* line 316, ../sass/screen.sass */
#content table th {
  border: 0;
}
/* line 318, ../sass/screen.sass */
#content table.no-border {
  border: 0;
}
/* line 320, ../sass/screen.sass */
#content table.no-border td {
  border: 0;
}
/* line 322, ../sass/screen.sass */
#content table.no-background {
  background: none;
}
/* line 324, ../sass/screen.sass */
#content table.no-style {
  background: none;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 328, ../sass/screen.sass */
#content table.no-style td {
  border: 0;
}
/* line 330, ../sass/screen.sass */
#content table p:first-child {
  font-size: 18px;
}
/* line 332, ../sass/screen.sass */
#content blockquote {
  position: relative;
  margin-right: 0;
  margin-left: 0;
  padding: 20px;
  background: #f2f2f0;
  -webkit-box-shadow: 2px 2px 2px none;
  -moz-box-shadow: 2px 2px 2px none;
  box-shadow: 2px 2px 2px none;
  font: italic 20px/30px "Myriad Pro", Arial, sans-serif;
  color: #365c77;
  text-shadow: 1px 1px white;
}
/* line 342, ../sass/screen.sass */
#content blockquote p {
  margin: 0;
  line-height: 34px;
}
/* line 345, ../sass/screen.sass */
#content blockquote .bg {
  position: absolute;
  top: 20px;
  left: -36px;
  display: block;
  width: 72px;
  height: 72px;
  background: transparent url() 0 0 no-repeat;
}
/* line 353, ../sass/screen.sass */
#content blockquote.trophy {
  padding-left: 50px;
}
/* line 355, ../sass/screen.sass */
#content blockquote.trophy .bg {
  background-image: url("../images/content_blockquote_trophy.png");
}
/* line 357, ../sass/screen.sass */
#content img {
  border-bottom: 1px solid white;
}
/* line 359, ../sass/screen.sass */
#content img.float-left {
  float: left;
  margin: 0 20px 10px 0;
  border: 0;
}
/* line 363, ../sass/screen.sass */
#content img.float-right {
  float: right;
  margin: 0 0 10px 20px;
  border: 0;
}
/* line 367, ../sass/screen.sass */
#content .submitted {
  display: none;
}
/* line 369, ../sass/screen.sass */
#content .button {
  font-size: 14px;
  position: relative;
  display: inline-block;
  width: auto;
  height: 30px;
  padding: 0 15px;
  background: #2f546e;
  border-right: 30px solid #1b384b;
  font-family: "Muli", sans-serif;
  color: white;
  line-height: 30px;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 3px #c6c5c2;
  -moz-box-shadow: 2px 2px 3px #c6c5c2;
  box-shadow: 2px 2px 3px #c6c5c2;
}
/* line 64, ../sass/screen.sass */
#content .button:hover {
  background: #1b384b;
  color: white;
}
/* line 67, ../sass/screen.sass */
#content .button.green {
  background-color: #547913;
  border-color: #3c560a;
}
/* line 70, ../sass/screen.sass */
#content .button.green:hover {
  background-color: #3c560a;
}
/* line 72, ../sass/screen.sass */
#content .button.red {
  background-color: #a01e1e;
  border-color: #741617;
}
/* line 75, ../sass/screen.sass */
#content .button.red:hover {
  background-color: #741617;
}
/* line 77, ../sass/screen.sass */
#content .button span {
  position: absolute;
  display: block;
  top: 0px;
  right: -30px;
  width: 30px;
  height: 30px;
  background: transparent url("../images/button_arrow.png") center center no-repeat;
}
/* line 372, ../sass/screen.sass */
#content .field-name-field-image,
#content .views-field-field-image {
  margin-bottom: 20px;
}
/* line 376, ../sass/screen.sass */
#content .view-news .views-row, #content .view-taxonomy-term .views-row {
  z-index: 0;
  position: relative;
  margin: 0;
  *zoom: 1;
}
/* line 33, ../sass/screen.sass */
#content .view-news .views-row:before, #content .view-taxonomy-term .views-row:before {
  content: "";
  display: table;
}
/* line 36, ../sass/screen.sass */
#content .view-news .views-row:after, #content .view-taxonomy-term .views-row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 381, ../sass/screen.sass */
#content .view-news .views-row .thumbnail, #content .view-taxonomy-term .views-row .thumbnail {
  float: left;
  width: 240px;
  margin: 25px 0;
}
/* line 385, ../sass/screen.sass */
#content .view-news .views-row .created, #content .view-taxonomy-term .views-row .created {
  margin-top: -15px;
  font: 16px "Myriad Pro", Arial, sans-serif;
  color: #4e4b44;
}
/* line 389, ../sass/screen.sass */
#content .view-news .views-row .story_content, #content .view-taxonomy-term .views-row .story_content {
  float: left;
  width: 410px;
}
/* line 392, ../sass/screen.sass */
#content .view-news .views-row:last-child .divider, #content .view-taxonomy-term .views-row:last-child .divider {
  display: none;
}
/* line 395, ../sass/screen.sass */
#content .small_print p {
  font: italic 13px/18px "Myriad Pro", Arial, sans-serif;
}
/* line 397, ../sass/screen.sass */
#content .small_print p:first-child {
  font-size: 13px;
}
/* line 399, ../sass/screen.sass */
#content .divider {
  display: block;
  width: 650px;
  height: 274px;
  margin: -110px 0 -110px;
  background: transparent url("../images/content_divider.jpg") 0 0 no-repeat;
}
/* line 405, ../sass/screen.sass */
#content .divider:last-child {
  display: none;
}
/* line 407, ../sass/screen.sass */
#content .views-field-edit-node a {
  display: block;
  margin: 10px 0;
  font-size: 14px;
  position: relative;
  display: inline-block;
  width: auto;
  height: 25px;
  padding: 0 12.5px;
  background: #333333;
  border-right: 25px solid #111111;
  font-family: "Muli", sans-serif;
  color: white;
  line-height: 25px;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 3px #c6c5c2;
  -moz-box-shadow: 2px 2px 3px #c6c5c2;
  box-shadow: 2px 2px 3px #c6c5c2;
}
/* line 64, ../sass/screen.sass */
#content .views-field-edit-node a:hover {
  background: #111111;
  color: white;
}
/* line 67, ../sass/screen.sass */
#content .views-field-edit-node a.green {
  background-color: #547913;
  border-color: #3c560a;
}
/* line 70, ../sass/screen.sass */
#content .views-field-edit-node a.green:hover {
  background-color: #3c560a;
}
/* line 72, ../sass/screen.sass */
#content .views-field-edit-node a.red {
  background-color: #a01e1e;
  border-color: #741617;
}
/* line 75, ../sass/screen.sass */
#content .views-field-edit-node a.red:hover {
  background-color: #741617;
}
/* line 77, ../sass/screen.sass */
#content .views-field-edit-node a span {
  position: absolute;
  display: block;
  top: 0px;
  right: -25px;
  width: 25px;
  height: 25px;
  background: transparent url("../images/button_arrow.png") center center no-repeat;
}
/* line 412, ../sass/screen.sass */
#content .node-page .field-name-body div div > :first-child {
  margin-top: 0;
}
/* line 415, ../sass/screen.sass */
#content .messages {
  margin-top: 20px;
  padding: 20px;
  color: white;
  white-space: break-word;
}
/* line 420, ../sass/screen.sass */
#content .messages a {
  color: white;
}
/* line 422, ../sass/screen.sass */
#content .messages.status {
  background: #547913;
  text-shadow: 1px 1px #3c560a;
}
/* line 425, ../sass/screen.sass */
#content .messages.error {
  background: #cc3300;
  text-shadow: 1px 1px #802000;
}
/* line 428, ../sass/screen.sass */
#content .messages ul {
  margin: 0;
}
/* line 434, ../sass/screen.sass */
#content .paypal_form label {
  display: block;
  font-weight: bold;
}
/* line 437, ../sass/screen.sass */
#content .date-display-single {
  display: block;
  margin: 0 0 20px;
  font-size: 24px;
  color: #2f546e;
}
/* line 443, ../sass/screen.sass */
#content #node-5 form,
#content #node-5 .donate_recurring {
  float: left;
  margin-bottom: 20px;
}
/* line 447, ../sass/screen.sass */
#content #node-5 .donate_recurring {
  margin: 20px 0 0 10px;
}
/* line 449, ../sass/screen.sass */
#content #node-5 h3 {
  clear: both;
}
/* line 452, ../sass/screen.sass */
#content .node-gallery .field-name-field-gallery-images {
  background: black;
}
/* line 454, ../sass/screen.sass */
#content .node-gallery .field-name-field-gallery-images .field-item {
  float: left;
  width: 210px;
  margin: 0 10px 10px 0;
}
/* line 458, ../sass/screen.sass */
#content .node-gallery .field-name-field-gallery-images .field-item.end {
  margin-right: 0;
}
/* line 461, ../sass/screen.sass */
#content .node-people {
  *zoom: 1;
}
/* line 33, ../sass/screen.sass */
#content .node-people:before {
  content: "";
  display: table;
}
/* line 36, ../sass/screen.sass */
#content .node-people:after {
  content: "";
  display: table;
  clear: both;
}
/* line 463, ../sass/screen.sass */
#content .node-people p:first-child {
  font-size: 18px;
}
/* line 465, ../sass/screen.sass */
#content .node-people .people_details {
  float: left;
  width: 180px;
  margin: 0 20px 20px 0;
  font-size: 15px;
}
/* line 470, ../sass/screen.sass */
#content .node-people .people_details div {
  margin-bottom: 5px;
}
/* line 472, ../sass/screen.sass */
#content .node-people .people_details .photo {
  margin-bottom: 10px;
}
/* line 474, ../sass/screen.sass */
#content .node-people .people_body {
  float: right;
  width: 450px;
}
/* line 477, ../sass/screen.sass */
#content .node-people .role {
  font-weight: bold;
}
/* line 481, ../sass/screen.sass */
#content .contribution_levels {
  float: right;
  width: 220px;
  margin: 0 0 0 20px;
  background: transparent url("../images/sidebar_block_bg_dark.png") 0 0 repeat;
  -webkit-box-shadow: 2px 2px 2px #c6c5c2;
  -moz-box-shadow: 2px 2px 2px #c6c5c2;
  box-shadow: 2px 2px 2px #c6c5c2;
}
/* line 487, ../sass/screen.sass */
#content .contribution_levels h4 {
  display: block;
  margin: 0;
  padding: 12px 18px;
  background: transparent url("../images/sidebar_block_bg_light.png") 0 0 repeat;
  font-size: 20px;
  color: #3c3a34;
  text-transform: none;
}
/* line 495, ../sass/screen.sass */
#content .contribution_levels ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 499, ../sass/screen.sass */
#content .contribution_levels ul li {
  margin: 0;
  padding: 10px 18px;
  border-top: 1px solid #eaebe7;
  border-bottom: 1px solid #f6f6f4;
  font: 17px "Myriad Pro", Arial, sans-serif;
  color: #516a7c;
  text-decoration: none;
  text-shadow: 1px 1px white;
}
/* line 510, ../sass/screen.sass */
#content .donors {
  margin: 20px 0;
}
/* line 512, ../sass/screen.sass */
#content .donors .wrap {
  margin: 0 0 40px;
  *zoom: 1;
}
/* line 33, ../sass/screen.sass */
#content .donors .wrap:before {
  content: "";
  display: table;
}
/* line 36, ../sass/screen.sass */
#content .donors .wrap:after {
  content: "";
  display: table;
  clear: both;
}
/* line 515, ../sass/screen.sass */
#content .donors .photo {
  float: left;
  width: 250px;
}
/* line 518, ../sass/screen.sass */
#content .donors .text {
  float: left;
  width: 400px;
}
/* line 521, ../sass/screen.sass */
#content .donors h3 {
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  background: white;
}
/* line 526, ../sass/screen.sass */
#content .donors h3 span {
  font: 14px "Myriad Pro", Arial, sans-serif;
  color: #2d546f;
}
/* line 529, ../sass/screen.sass */
#content .donors .quote {
  padding: 20px;
  -webkit-box-shadow: 2px 2px 2px 2px 2px 2px #c6c5c2;
  -moz-box-shadow: 2px 2px 2px 2px 2px 2px #c6c5c2;
  box-shadow: 2px 2px 2px 2px 2px 2px #c6c5c2;
  font: italic 22px/30px "Myriad Pro", Arial, sans-serif;
  color: #365c77;
  text-shadow: 1px 1px white;
}
/* line 536, ../sass/screen.sass */
#content .donors .button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 540, ../sass/screen.sass */
#node-56 h3 {
  clear: both;
}
/* line 542, ../sass/screen.sass */
#node-56 .col {
  float: left;
  width: 280px;
  margin: 0 0 30px;
}

/* line 548, ../sass/screen.sass */
#content {
  /* end Page specific stylings */
}
/* line 550, ../sass/screen.sass */
#content .board-directors table {
  margin-top: 20px;
}
/* line 552, ../sass/screen.sass */
#content .board-directors tbody {
  border: 0;
}
/* line 554, ../sass/screen.sass */
#content .board-directors td {
  width: 180px;
  text-align: center;
  padding: 0 55px 20px 0;
}
/* line 558, ../sass/screen.sass */
#content .board-directors td.col-last {
  padding-right: 0;
}
/* line 560, ../sass/screen.sass */
#content .board-directors h4 {
  margin: 15px 0 0;
  font-size: 15px;
}
/* line 563, ../sass/screen.sass */
#content .board-directors h5 {
  margin: 8px 0;
  font: bold 16px/16px "Myriad Pro", Arial, sans-serif;
  color: #3c3a34;
  text-transform: none;
}
/* line 568, ../sass/screen.sass */
#content .board-directors p {
  margin: 8px 0;
  font-size: 16px;
  line-height: 16px;
}
/* line 572, ../sass/screen.sass */
#content .board-directors img {
  border: 0;
  -webkit-box-shadow: 2px 2px 5px #c6c5c2;
  -moz-box-shadow: 2px 2px 5px #c6c5c2;
  box-shadow: 2px 2px 5px #c6c5c2;
}
/* line 578, ../sass/screen.sass */
#content #webform-client-form-16 .webform-component-textfield input,
#content #webform-client-form-16 textarea {
  width: 650px;
}
/* line 584, ../sass/screen.sass */
#content .block {
  margin: 20px 0 20px 20px;
}
/* line 586, ../sass/screen.sass */
#content .block.block-system {
  margin: 0;
}
/* line 590, ../sass/screen.sass */
#content #comments h2 {
  font-size: 18px;
}
/* line 592, ../sass/screen.sass */
#content #comments .filter-wrapper {
  display: none;
}
/* line 595, ../sass/screen.sass */
#content #search-form {
  margin: 20px 0;
}
/* line 598, ../sass/screen.sass */
#content #search-form .form-item-keys label {
  display: none;
}
/* line 600, ../sass/screen.sass */
#content #search-form .search-advanced {
  display: none;
}
/* line 602, ../sass/screen.sass */
#content .search-results {
  padding: 0;
}
/* line 604, ../sass/screen.sass */
#content .search-results h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
/* line 607, ../sass/screen.sass */
#content .search-results .search-snippet-info {
  padding: 0;
}
/* line 609, ../sass/screen.sass */
#content .search-results .search-snippet {
  font-size: 18px;
}
/* line 611, ../sass/screen.sass */
#content .search-results .search-info {
  display: none;
}
/* line 613, ../sass/screen.sass */
#content .search-results .divider {
  display: block;
  width: 650px;
  height: 274px;
  margin: -110px 0 -110px;
  background: black url("../images/content_divider.jpg") 0 0 no-repeat;
}

/* line 624, ../sass/screen.sass */
#sidebar_first {
  float: right;
  width: 250px;
  margin: 0 0 30px;
}
/* line 628, ../sass/screen.sass */
#sidebar_first .block {
  margin: 20px 0 30px;
}
/* line 630, ../sass/screen.sass */
#sidebar_first .block .content {
  *zoom: 1;
}
/* line 33, ../sass/screen.sass */
#sidebar_first .block .content:before {
  content: "";
  display: table;
}
/* line 36, ../sass/screen.sass */
#sidebar_first .block .content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 632, ../sass/screen.sass */
#sidebar_first .block .button {
  font-size: 12px;
  text-transform: uppercase;
}
/* line 635, ../sass/screen.sass */
#sidebar_first .block .button.green {
  position: relative;
  display: inline-block;
  width: auto;
  height: 27px;
  padding: 0 13.5px;
  background: #547913;
  border-right: 27px solid #3c560a;
  font-family: "Muli", sans-serif;
  color: white;
  line-height: 27px;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 3px #c6c5c2;
  -moz-box-shadow: 2px 2px 3px #c6c5c2;
  box-shadow: 2px 2px 3px #c6c5c2;
}
/* line 64, ../sass/screen.sass */
#sidebar_first .block .button.green:hover {
  background: #3c560a;
  color: white;
}
/* line 67, ../sass/screen.sass */
#sidebar_first .block .button.green.green {
  background-color: #547913;
  border-color: #3c560a;
}
/* line 70, ../sass/screen.sass */
#sidebar_first .block .button.green.green:hover {
  background-color: #3c560a;
}
/* line 72, ../sass/screen.sass */
#sidebar_first .block .button.green.red {
  background-color: #a01e1e;
  border-color: #741617;
}
/* line 75, ../sass/screen.sass */
#sidebar_first .block .button.green.red:hover {
  background-color: #741617;
}
/* line 77, ../sass/screen.sass */
#sidebar_first .block .button.green span {
  position: absolute;
  display: block;
  top: 0px;
  right: -27px;
  width: 27px;
  height: 27px;
  background: transparent url("../images/button_arrow.png") center center no-repeat;
}
/* line 637, ../sass/screen.sass */
#sidebar_first .block .button.blue {
  position: relative;
  display: inline-block;
  width: auto;
  height: 27px;
  padding: 0 13.5px;
  background: #2f546e;
  border-right: 27px solid #1b384b;
  font-family: "Muli", sans-serif;
  color: white;
  line-height: 27px;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 3px #c6c5c2;
  -moz-box-shadow: 2px 2px 3px #c6c5c2;
  box-shadow: 2px 2px 3px #c6c5c2;
}
/* line 64, ../sass/screen.sass */
#sidebar_first .block .button.blue:hover {
  background: #1b384b;
  color: white;
}
/* line 67, ../sass/screen.sass */
#sidebar_first .block .button.blue.green {
  background-color: #547913;
  border-color: #3c560a;
}
/* line 70, ../sass/screen.sass */
#sidebar_first .block .button.blue.green:hover {
  background-color: #3c560a;
}
/* line 72, ../sass/screen.sass */
#sidebar_first .block .button.blue.red {
  background-color: #a01e1e;
  border-color: #741617;
}
/* line 75, ../sass/screen.sass */
#sidebar_first .block .button.blue.red:hover {
  background-color: #741617;
}
/* line 77, ../sass/screen.sass */
#sidebar_first .block .button.blue span {
  position: absolute;
  display: block;
  top: 0px;
  right: -27px;
  width: 27px;
  height: 27px;
  background: transparent url("../images/button_arrow.png") center center no-repeat;
}
/* line 639, ../sass/screen.sass */
#sidebar_first .block .button.red {
  position: relative;
  display: inline-block;
  width: auto;
  height: 27px;
  padding: 0 13.5px;
  background: #a01e1e;
  border-right: 27px solid #741617;
  font-family: "Muli", sans-serif;
  color: white;
  line-height: 27px;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 3px #c6c5c2;
  -moz-box-shadow: 2px 2px 3px #c6c5c2;
  box-shadow: 2px 2px 3px #c6c5c2;
}
/* line 64, ../sass/screen.sass */
#sidebar_first .block .button.red:hover {
  background: #741617;
  color: white;
}
/* line 67, ../sass/screen.sass */
#sidebar_first .block .button.red.green {
  background-color: #547913;
  border-color: #3c560a;
}
/* line 70, ../sass/screen.sass */
#sidebar_first .block .button.red.green:hover {
  background-color: #3c560a;
}
/* line 72, ../sass/screen.sass */
#sidebar_first .block .button.red.red {
  background-color: #a01e1e;
  border-color: #741617;
}
/* line 75, ../sass/screen.sass */
#sidebar_first .block .button.red.red:hover {
  background-color: #741617;
}
/* line 77, ../sass/screen.sass */
#sidebar_first .block .button.red span {
  position: absolute;
  display: block;
  top: 0px;
  right: -27px;
  width: 27px;
  height: 27px;
  background: transparent url("../images/button_arrow.png") center center no-repeat;
}
/* line 641, ../sass/screen.sass */
#sidebar_first .block h4 {
  margin: 0;
  color: #635a51;
  text-transform: uppercase;
}
/* line 645, ../sass/screen.sass */
#sidebar_first .block.box {
  -webkit-box-shadow: 2px 2px 2px #c6c5c2;
  -moz-box-shadow: 2px 2px 2px #c6c5c2;
  box-shadow: 2px 2px 2px #c6c5c2;
}
/* line 647, ../sass/screen.sass */
#sidebar_first .block.box .content {
  background: transparent url("../images/sidebar_block_bg_dark.png") 0 0 repeat;
}
/* line 649, ../sass/screen.sass */
#sidebar_first .block.box .content p:first-child {
  margin-top: 0;
}
/* line 651, ../sass/screen.sass */
#sidebar_first .block.box a {
  color: #516a7c;
}
/* line 653, ../sass/screen.sass */
#sidebar_first .block.box h4 {
  display: inline-block;
  width: 214px;
  margin: 0;
  padding: 12px 18px;
  background: transparent url("../images/sidebar_block_bg_light.png") 0 0 repeat;
  font-size: 20px;
  color: #3c3a34;
  text-transform: none;
}
/* line 662, ../sass/screen.sass */
#sidebar_first .block.box h4 a {
  display: block;
  color: #3c3a34;
  text-decoration: none;
}
/* line 666, ../sass/screen.sass */
#sidebar_first .block.box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 670, ../sass/screen.sass */
#sidebar_first .block.box ul a {
  display: block;
  padding: 10px 18px;
  border-top: 1px solid #eaebe7;
  border-bottom: 1px solid #f6f6f4;
  font: 17px "Myriad Pro", Arial, sans-serif;
  color: #516a7c;
  text-decoration: none;
  text-shadow: 1px 1px white;
}
/* line 679, ../sass/screen.sass */
#sidebar_first .block.box ul a:hover {
  background: transparent url("../images/sidebar_block_bg_dark.png") 0 0 repeat;
}
/* line 681, ../sass/screen.sass */
#sidebar_first .block.box p {
  padding: 12px 18px;
  font: 17px/26px "Myriad Pro", Arial, sans-serif;
  color: #516a7c;
}
/* line 685, ../sass/screen.sass */
#sidebar_first .block.box p:first-child {
  border-top: 1px solid #eaebe7;
}
/* line 688, ../sass/screen.sass */
#sidebar_first .block.box .view-id-event_details .views-field {
  padding: 10px 18px;
  border-top: 1px solid #eaebe7;
  border-bottom: 1px solid #f6f6f4;
  font: 17px "Myriad Pro", Arial, sans-serif;
  color: #516a7c;
  text-shadow: 1px 1px white;
}
/* line 695, ../sass/screen.sass */
#sidebar_first .block.box .view-id-event_details .views-field a {
  color: #516a7c;
}
/* line 697, ../sass/screen.sass */
#sidebar_first .block.box .view-id-event_details .views-field .button {
  color: white;
}
/* line 699, ../sass/screen.sass */
#sidebar_first .block.box .view-id-event_details .views-field .button.green {
  text-shadow: none;
}
/* line 701, ../sass/screen.sass */
#sidebar_first .block.box .view-id-event_details .views-field .button.red {
  text-shadow: none;
}
/* line 703, ../sass/screen.sass */
#sidebar_first .block.box .view-id-event_details .views-label {
  font-size: 12px;
  text-transform: uppercase;
}
/* line 708, ../sass/screen.sass */
#sidebar_first .block.no-box h4 {
  margin-bottom: 10px;
}
/* line 710, ../sass/screen.sass */
#sidebar_first .block.no-box p {
  font: 16px/24px "Myriad Pro", Arial, sans-serif;
}
/* line 712, ../sass/screen.sass */
#sidebar_first .block.no-box p:first-child {
  margin-top: 0;
}
/* line 714, ../sass/screen.sass */
#sidebar_first .block.no-box:first-child p {
  margin-top: 0;
}
/* line 716, ../sass/screen.sass */
#sidebar_first .block.contact_info {
  font-size: 17px;
}
/* line 718, ../sass/screen.sass */
#sidebar_first .block.contact_info .content {
  line-height: 22px;
}
/* line 720, ../sass/screen.sass */
#sidebar_first .block.contact_info img {
  display: block;
  width: 250px;
  height: 200px;
  -webkit-box-shadow: 1px 1px 5px #c6c5c2;
  -moz-box-shadow: 1px 1px 5px #c6c5c2;
  box-shadow: 1px 1px 5px #c6c5c2;
}
/* line 725, ../sass/screen.sass */
#sidebar_first .block#block-block-2 {
  position: relative;
  height: 111px;
}
/* line 728, ../sass/screen.sass */
#sidebar_first .block#block-block-2 .seal {
  position: absolute;
  top: 0;
  left: -10px;
  display: block;
  width: 265px;
  height: 111px;
  background: white url("../images/sidebar_block_seal.jpg") 0 0 no-repeat;
  text-indent: -9000px;
}

/* line 738, ../sass/screen.sass */
footer {
  background: white url("../images/footer_bg.jpg") 0 0 repeat;
}
/* line 740, ../sass/screen.sass */
footer .wrap {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 80px 0;
  background: transparent url("../images/footer_tiles.jpg") center top no-repeat;
}
/* line 746, ../sass/screen.sass */
footer .parent_logo {
  position: absolute;
  top: 80px;
  left: 10px;
  display: block;
  width: 101px;
  height: 99px;
  background: transparent url("../images/footer_logo_fcoe_2.png") 0 0 no-repeat;
  text-indent: -9000px;
}

/* line 756, ../sass/screen.sass */
#nav_footer {
  width: 960px;
  padding: 0 0 0 160px;
}
/* line 759, ../sass/screen.sass */
#nav_footer a {
  font: bold 14px/24px "Myriad Pro", Arial, sans-serif;
  color: #7d7d7d;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px white;
}
/* line 765, ../sass/screen.sass */
#nav_footer a:hover {
  color: #636363;
}
/* line 767, ../sass/screen.sass */
#nav_footer ul {
  float: left;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 773, ../sass/screen.sass */
#nav_footer ul.first {
  width: 150px;
}
/* line 775, ../sass/screen.sass */
#nav_footer ul.first li:last-child a {
  color: #537a00;
}
/* line 777, ../sass/screen.sass */
#nav_footer ul.first li:last-child a:hover {
  color: #426100;
}
/* line 780, ../sass/screen.sass */
#nav_footer ul.secondary ul a {
  font-weight: normal;
}

/* line 783, ../sass/screen.sass */
#copyright {
  margin: 40px 10px 20px;
  padding: 5px 0;
  border-top: 1px dotted #dddddd;
  font-size: 14px;
  color: #9d9d9d;
}

/* line 792, ../sass/screen.sass */
.front #main {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
/* line 796, ../sass/screen.sass */
.front #heading {
  width: 960px;
  height: 400px;
  padding: 0;
}
/* line 800, ../sass/screen.sass */
.front #intro {
  z-index: 0;
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding-bottom: 20px;
}
/* line 806, ../sass/screen.sass */
.front #intro h2 {
  padding-bottom: 0;
  font: 300 63px/50px "Muli", sans-serif;
  color: #4e4b44;
  text-shadow: 1px 1px white;
}
/* line 811, ../sass/screen.sass */
.front #intro p {
  width: 630px;
  font: 20px/34px "Myriad Pro", Arial, sans-serif;
  color: #7d7366;
  text-shadow: 1px 1px white;
}
/* line 816, ../sass/screen.sass */
.front #intro .kids {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: -150px;
  width: 650px;
  height: 309px;
  background: transparent url("../images/front_intro_kids2.jpg") 0 0 no-repeat;
}
/* line 824, ../sass/screen.sass */
.front .content_wrap {
  width: 100%;
  background: black url("../images/footer_bg.jpg") 0 0 repeat;
  border-top: 1px solid #e7e8e4;
}
/* line 828, ../sass/screen.sass */
.front #content {
  float: none;
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding-top: 40px;
}
/* line 834, ../sass/screen.sass */
.front #content .tiles {
  position: absolute;
  top: 0;
  right: -50px;
  width: 452px;
  height: 71px;
  background: transparent url("../images/front_content_tiles_bg.jpg") 0 0 no-repeat;
}
/* line 841, ../sass/screen.sass */
.front #content .view-news .views-row {
  margin-bottom: 0px;
}
/* line 843, ../sass/screen.sass */
.front #content .view-news .views-row img {
  filter: url("filters.svg#grayscale");
  filter: gray;
  -webkit-filter: grayscale(1);
}
/* line 845, ../sass/screen.sass */
.front #content .view-news .views-row img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
/* line 847, ../sass/screen.sass */
.front #content .view-news .views-row .story_content {
  width: 720px;
  margin: 0 0 25px;
}
/* line 851, ../sass/screen.sass */
.front .divider {
  width: 100%;
  height: 493px;
  margin: -215px 0;
  background: transparent url("../images/front_news_divider.jpg") 0 0 repeat-x;
}
/* line 856, ../sass/screen.sass */
.front .divider.second {
  background-image: url("../images/front_onecard_divider.png");
}
/* line 859, ../sass/screen.sass */
.front .onecard {
  margin-bottom: 10px;
  *zoom: 1;
}
/* line 33, ../sass/screen.sass */
.front .onecard:before {
  content: "";
  display: table;
}
/* line 36, ../sass/screen.sass */
.front .onecard:after {
  content: "";
  display: table;
  clear: both;
}
/* line 862, ../sass/screen.sass */
.front .onecard .wrap {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
/* line 866, ../sass/screen.sass */
.front .onecard h3 {
  margin: 5px 0 0;
  font-size: 24px;
}
/* line 869, ../sass/screen.sass */
.front .onecard .card {
  float: left;
  width: 216px;
  height: 144px;
  background: transparent url("../images/OneCard_GiftCard.png") 0 0 no-repeat;
}
/* line 874, ../sass/screen.sass */
.front .onecard .content {
  float: left;
  margin-left: 30px;
}
/* line 877, ../sass/screen.sass */
.front .onecard .button {
  font-size: 16px;
  position: relative;
  display: inline-block;
  width: auto;
  height: 35px;
  padding: 0 17.5px;
  background: #547913;
  border-right: 35px solid #3c560a;
  font-family: "Muli", sans-serif;
  color: white;
  line-height: 35px;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 3px #c6c5c2;
  -moz-box-shadow: 2px 2px 3px #c6c5c2;
  box-shadow: 2px 2px 3px #c6c5c2;
}
/* line 64, ../sass/screen.sass */
.front .onecard .button:hover {
  background: #3c560a;
  color: white;
}
/* line 67, ../sass/screen.sass */
.front .onecard .button.green {
  background-color: #547913;
  border-color: #3c560a;
}
/* line 70, ../sass/screen.sass */
.front .onecard .button.green:hover {
  background-color: #3c560a;
}
/* line 72, ../sass/screen.sass */
.front .onecard .button.red {
  background-color: #a01e1e;
  border-color: #741617;
}
/* line 75, ../sass/screen.sass */
.front .onecard .button.red:hover {
  background-color: #741617;
}
/* line 77, ../sass/screen.sass */
.front .onecard .button span {
  position: absolute;
  display: block;
  top: 0px;
  right: -35px;
  width: 35px;
  height: 35px;
  background: transparent url("../images/button_arrow.png") center center no-repeat;
}
/* line 881, ../sass/screen.sass */
.front .we_are_fcoe {
  min-height: 200px;
}
/* line 883, ../sass/screen.sass */
.front .we_are_fcoe h3 {
  margin-bottom: 0;
  font-size: 30px;
  text-transform: uppercase;
}
/* line 887, ../sass/screen.sass */
.front .we_are_fcoe p {
  margin: 25px 0;
  font: 18px/30px "Myriad Pro", Arial, sans-serif;
  color: #645c53;
}
/* line 891, ../sass/screen.sass */
.front .we_are_fcoe .button {
  font-size: 16px;
  position: relative;
  display: inline-block;
  width: auto;
  height: 35px;
  padding: 0 17.5px;
  background: #2f546e;
  border-right: 35px solid #1b384b;
  font-family: "Muli", sans-serif;
  color: white;
  line-height: 35px;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 3px #c6c5c2;
  -moz-box-shadow: 2px 2px 3px #c6c5c2;
  box-shadow: 2px 2px 3px #c6c5c2;
}
/* line 64, ../sass/screen.sass */
.front .we_are_fcoe .button:hover {
  background: #1b384b;
  color: white;
}
/* line 67, ../sass/screen.sass */
.front .we_are_fcoe .button.green {
  background-color: #547913;
  border-color: #3c560a;
}
/* line 70, ../sass/screen.sass */
.front .we_are_fcoe .button.green:hover {
  background-color: #3c560a;
}
/* line 72, ../sass/screen.sass */
.front .we_are_fcoe .button.red {
  background-color: #a01e1e;
  border-color: #741617;
}
/* line 75, ../sass/screen.sass */
.front .we_are_fcoe .button.red:hover {
  background-color: #741617;
}
/* line 77, ../sass/screen.sass */
.front .we_are_fcoe .button span {
  position: absolute;
  display: block;
  top: 0px;
  right: -35px;
  width: 35px;
  height: 35px;
  background: transparent url("../images/button_arrow.png") center center no-repeat;
}
/* line 894, ../sass/screen.sass */
.front .we_are_fcoe .button.green {
  margin-right: 10px;
}
/* line 896, ../sass/screen.sass */
.front .we_are_fcoe .wrap {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
/* line 900, ../sass/screen.sass */
.front .we_are_fcoe .left {
  width: 430px;
}
/* line 902, ../sass/screen.sass */
.front .we_are_fcoe .seal {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 497px;
  height: 164px;
  background: transparent url("../images/front_fcoe_seal.jpg") 0 0 no-repeat;
  text-indent: -9000px;
}

/* line 912, ../sass/screen.sass */
#simplemodal-container {
  background: white;
  -webkit-box-shadow: 0px 0px 10px #cccccc;
  -moz-box-shadow: 0px 0px 10px #cccccc;
  box-shadow: 0px 0px 10px #cccccc;
}
/* line 916, ../sass/screen.sass */
#simplemodal-container .modal_close {
  position: absolute;
  top: -20px;
  right: 10px;
  display: inline;
  width: 30px;
  height: 30px;
  z-index: 3200;
  cursor: pointer;
  font: bold 12px Arial;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 931, ../sass/screen.sass */
.new {
  background: #547913;
  padding: 4px 7px 2px;
  margin-left: 7px;
  color: white;
  text-transform: uppercase;
  font-size: 0.7em;
}

/* line 939, ../sass/screen.sass */
.read-award {
  display: none;
  padding: 20px;
  height: auto !important;
}
